<div ng-controller="app.views.authors.index as vm">
    <div>
        <h4>AUTHOR REGISTER</h4>
    </div>
    <!--<div class="form-group pull-right">
        <button type="button" class="btn bg-primary pull-right" ng-click="vm.openDialog(false);">
            <span class="fa fa-plus" style="color: white">&nbsp;ADD AUTHOR</span>
        </button>
    </div>-->
</div>